<p>This page could be about me and this website and stuff like that!  And it will be pretty.</p>
<p>This is a paragraph in which I say stuff about myself.  Also, I might describe the purpose of this
website, if it really has one.  <span class="highlight">I'm a girl.  I do programming.</span>  I like music and reading and thunderstorms
and video games.  I'm a 1337 gamer.  (Bahahahaha!)  Um... I live in a place.  A place with lots of spiders.
I don't like spiders.  I'm a sound tech at my church, and that's a lot of fun too.  <span class="highlight">I like green.</span>  I have this cool friend who is helping me learn Ruby, which I am using to build this website.  Eventually it will be done with Rails, I think, but for now it's Ruby taking the stage with Sinatra (and HTML and CSS and all that fun stuff).  And it's really late, and I don't know what else to say here right now.  Eventually there will be real stuff on these pages, so that's cool.</p>