<h3>Welcome to my page about all things geek, where I share about... well, geeky things!</h3>
<p><u>2013/10/03</u></p>
<p>I know World of Warcraft as seen better days, but I still enjoy playing. Pair that with the fact that I have always loved Trivial Pursuit, and you can be sure I'll be picking this up at some point (even if I have no one with whom to play)... <a href="http://us.battle.net/wow/en/blog/11071841/World_of_Warcraft_Trivial_Pursuit_%E2%80%93_Now_Available-9_26_2013" target="_blank">World of Warcraft Trivial Pursuit!</a></p>
<br>
<p><u>2013/08/24</u></p>
<p>Last weekend I had the pleasure of my first four day Gen Con experience. I loved it and can't wait do it again next year! One of the highlights for me was the opportunity to playtest a new, light-strategy card game, Havok & Hijinks. It was a lot of fun! You get to play a cute little dragon (the Obsidian dragon was my personal favorite) and build up your treasure hoard to win the game. I enjoyed it so much that I decided to back the project on Kickstarter. Head on over to the <a href="http://www.havokandhijinks.com/" target="_blank">Havok & Hijinks</a> page and check it out for yourself!</p>
<p>Also... look how cute!</p>
<img src="/images/Havok-and-Hijinks-Amber-avatar.png" alt="Havok & Hijinks - Amber">
<img src="/images/Havok-and-Hijinks-Obsidian-avatar.png" alt="Havok & Hijinks - Obsidian">
<img src="/images/Havok-and-Hijinks-Ruby-avatar.png" alt="Havok & Hijinks - Ruby">
<img src="/images/Havok-and-Hijinks-Pearl-avatar.png" alt="Havok & Hijinks - Pearl">