<h3>Welcome to my page about all things geek, where I share about... well, geeky things!</h3>
<p><u>2013/08/24</u></p>
<p>Last weekend I had the pleasure of my first four day Gen Con experience. I loved it and can't wait do it again next year! One of the highlights for me was the opportunity to playtest a new, light-strategy card game, Havok & Hijinks. It was a lot of fun! You get to play a cute little dragon (the Obsidian dragon was my personal favorite) and build up your treasure hoard to win the game. I enjoyed it so much that I decided to back the project on Kickstarter. Head on over to the <a href="http://www.kickstarter.com/projects/ferrel/havok-and-hijinks-dont-slay-a-dragon-be-one">Havok & Hijinks Kickstarter</a> page and check it out for yourself! You can become a backer for as little as $1.</p>
<p>Also... look how cute!</p>
<img src="/images/Havok-and-Hijinks-Amber-avatar.png" alt="Havok & Hijinks - Amber">
<img src="/images/Havok-and-Hijinks-Obsidian-avatar.png" alt="Havok & Hijinks - Obsidian">
<img src="/images/Havok-and-Hijinks-Ruby-avatar.png" alt="Havok & Hijinks - Ruby">
<img src="/images/Havok-and-Hijinks-Pearl-avatar.png" alt="Havok & Hijinks - Pearl">