<h3>Howdy! Welcome to my website. It is a work in progress, so pretty much nothing here is complete and there are lots of changes yet to come. This is a project I'm working on as I continue to develop mad skills with Ruby and HTML and CSS and all that jazz.</h3>
<br>
<h3><u>What's New</u></h3>
<p>2013/10/05:</p>
<p><a href="/musics">New Music Awesomeness</a> - Introducing....</p>
<br>
<p>2013/10/03:</p>
<p><a href="/geekiness">General Geekery</a> - World of Warcraft Trivial Pursuit!</p>
<br>
<p>2013/08/24:</p>
<p>At Gen Con last weekend I had the opportunity to playtest a new game called Havok & Hijinks. Head on over to my <a href="/geekiness">geek</a> page and check it out!</p>
<img src="/images/Havok-and-Hijinks-Amber-alt-avatar.png" alt="Havok & Hijinks - Amber">