<h3>Howdy!  Welcome to my website.  It is a work in progress, so pretty much nothing here is complete and there are lots of changes yet to come.  This is a project I'm working on as I learn Ruby and Ruby on Rails and all that jazz.</h3>
<br>
<h3>What's New</h3>
<p>Something will go here about stuff I added to other pages (that I haven't actually added yet).</p>