<html>
<title>This Is A Title</title>
<body>
	<h1>Howdy!  Eventually there will be stuff on this page.  And it will be pretty.</h1>
	<br><br>
	<a href="<%=url('/about')%>">Some Stuff About Me</a><br>
	<a href="/photography">I Take Pictures</a><br>
	<a href="/geekiness">I Am A Geek (Not A Nerd)</a><br>
	<a href="/musics">I LIKE Music</a><br>
	<a href="/playtime">Playing With Stuff</a><br>
</body>
</html>