<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" href="css/kj.css">
</head>
<body>
	<h1 id="home"><a id="home" href="/">Katie Jo</a></h1>
	<ul id="menu">
		<li><a href="<%=url('/about')%>">About Me</a></li>
		<li><a href="/photography">Photography</a></li>
		<li><a href="/geekiness">Geekiness</a></li>
		<li><a href="/musics">Musicalness</a></li>
		<li class="last"><a href="/playtime">Programmerness</a></li>
	</ul>
	<br><br>
	<%= yield %>
</body>
</html>