<p>Hey!  I like music!  Okay, a little more than like.</p>
<p>I don't know that I will have enough actual content for music to take up a whole page of it's own, so this page could disapper or become more than just music. We'll see. If it stays, it will most definitely be pretty.</p>
<p><u>2013/10/05</u></p>
<p>Copperlily!</p>
<p>Fantastic and adorable couple, Tim and Stephanie Skipper, are making some sweet new music together. They are super talented and I am quite looking forward to hearing more from them! Tim is the lead singer of the band House of Heroes, and Stephanie has some solo music out there as Stephanie Smith. </p>