<p>Hey!  I like music!  Okay, a little more than like.</p>
<p>I don't know that I will have enough actual content for music to take up a whole page of it's own, so this page could disapper or become more than just music. We'll see. If it stays, it will most definitely be pretty.</p>