<h4>On this page I will probably share programming projects and such that I'm working on (when I have other projects for sharing with the general public who may stumble upon this someday awesome page).</h4>

<p>In the meantime here is the link to my GitHub profile. <a href="https://github.com/katiejo72" target="_blank">GitHub - Katie Arbuckle</a></p>