body {
	background-color: #48433a;
}

a {
	color: #ffffff;
}

a#home {
	text-decoration: none;
}

h1{
	color: #ffffff;
}

h1#home {
	text-align: center;
	font-family: "Segoe Script";
}

h2{
	color: #ffffff;
}

h3{
	color: #ffffff;
}

h4{
	color: #ffffff;
}

h5{
	color: #ffffff;
}

h6{
	color: #ffffff;
}



p{
	color: #ffffff;
}

.highlight {
	color: #22bf2d;
}