body {
	background-color: #48433a;
	padding-left: 100px;
	padding-right: 100px;
	background-image: url('geekiness.gif');
	background-repeat:no-repeat;
	background-position:right bottom;
}

a {
	color: #ffffff;
}

a#home {
	text-decoration: none;
}

#menu a {
	display: block;
	width: 180px;
	text-decoration: none;
	text-align: center;
	font-family: "Calibri";
	padding: 2px;
}

ul#menu {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
	border-left-style: solid;
	border-color: #22bf2d;
	border-width: 1px;
}

#menu li.last {
	border-right-style: solid;
}

h1{
	color: #ffffff;
	font-family: "Segoe Script";
	font-size: 40px;
	text-align: center;
}

h2{
	color: #ffffff;
	font-family: "Calibri";
	text-align: center;
}

h3{
	color: #ffffff;
	font-family: "Calibri";
	text-align: center;
}

h4{
	color: #ffffff;
	font-family: "Calibri";
	text-align: center;
}

h5{
	color: #ffffff;
	font-family: "Calibri";
	text-align: center;
}

h6{
	color: #ffffff;
	font-family: "Calibri";
	text-align: center;
}

p{
	color: #ffffff;
	font-family: "Calibri";
}

.highlight {
	color: #22bf2d;
}